

.address-content > * , 
.address-header > *{
    font-family: 'Nunito';
}

/* Address Header */
.address-header{
    display: flex;
    align-items: center;
    gap: 0.25em;
}
.address-header span{
    font-size: 0.87rem;
    font-weight: 700;
    color: #a5adb9;
}
.address-header div{
    background: #a5adb9;
    height: 2px;
    width: 100%;
}

/* Address content */
.city{
    font-weight: 800;
    font-size: 1.8rem;
    margin-top: 0.3em;
    color: #595151;
}
.street-suite , .zip{
    color: #a5adb9;
    font-weight: 700;
    font-size: 0.95rem;
}