@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.heading {
    font-size: 4rem;
    text-align: center;
    margin-block: 1em;
    font-family: 'Arvo' !important;
}
.container {
    width: 80%;
    margin: auto;
    max-width: 1440px;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    height: 72vh;
    overflow-y: auto;

    padding-right: 0.5em;

    /* Scroll bar Mozilla */
    scrollbar-width: thin;
}

/* Chrome + other browsers */
.profile-container::-webkit-scrollbar{
    width: 0.25vw;
}
.profile-container::-webkit-scrollbar-thumb{
    background: rgb(105, 104, 104);
}
.profile-container::-webkit-scrollbar-track{
    background: rgb(235, 232, 232);
}