/* Font Family */
.company-header > *,
.company-content > *{
    font-family: 'Nunito';
}

/* Address Header */
.company-header{
    display: flex;
    align-items: center;
    gap: 0.25em;
}
.company-header span{
    font-size: 0.87rem;
    font-weight: 700;
    color: #a5adb9;
}
.company-header div{
    background: #a5adb9;
    height: 2px;
    width: 100%;
}

/* Company Content */

.company-content p:nth-of-type(1){
    margin-top: 1.2em;
}

.company-content p{
    color: #595151;
    font-weight: 700;
    font-size: 1.2rem;
}